USE [master]
GO
/****** Object:  Database [inventario_db]    Script Date: 1/15/2026 10:09:39 AM ******/
CREATE DATABASE [inventario_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'inventario_db', FILENAME = N'C:\Users\Alan Gallardo\inventario_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'inventario_db_log', FILENAME = N'C:\Users\Alan Gallardo\inventario_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [inventario_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [inventario_db]
GO
/****** Object:  Table [dbo].[edificios]    Script Date: 1/15/2026 10:09:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[edificios](
	[id_edificio] [int] IDENTITY(1,1) NOT NULL,
	[clave_edificio] [varchar](10) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_edificio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[clave_edificio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupos]    Script Date: 1/15/2026 10:09:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupos](
	[id_grupo] [int] IDENTITY(1,1) NOT NULL,
	[clave_grupo] [varchar](10) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[clave_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 1/15/2026 10:09:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[id_articulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [text] NULL,
	[marca] [varchar](100) NULL,
	[serie] [varchar](100) NULL,
	[id_grupo] [int] NOT NULL,
	[id_ubicacion] [int] NOT NULL,
	[estatus] [varchar](20) NOT NULL,
	[numero_marbete] [varchar](50) NULL,
	[fecha_compra] [date] NULL,
	[motivo_baja] [text] NULL,
	[fecha_baja] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_marbete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ubicaciones]    Script Date: 1/15/2026 10:09:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubicaciones](
	[id_ubicacion] [int] IDENTITY(1,1) NOT NULL,
	[clave_ubicacion] [varchar](10) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[id_edificio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ubicacion] UNIQUE NONCLUSTERED 
(
	[id_edificio] ASC,
	[clave_ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[inventario] ADD  DEFAULT ('activo') FOR [estatus]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [fk_inventario_grupo] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[grupos] ([id_grupo])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [fk_inventario_grupo]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [fk_inventario_ubicacion] FOREIGN KEY([id_ubicacion])
REFERENCES [dbo].[ubicaciones] ([id_ubicacion])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [fk_inventario_ubicacion]
GO
ALTER TABLE [dbo].[ubicaciones]  WITH CHECK ADD  CONSTRAINT [fk_ubicacion_edificio] FOREIGN KEY([id_edificio])
REFERENCES [dbo].[edificios] ([id_edificio])
GO
ALTER TABLE [dbo].[ubicaciones] CHECK CONSTRAINT [fk_ubicacion_edificio]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [chk_estatus] CHECK  (([estatus]='baja' OR [estatus]='reparacion' OR [estatus]='activo'))
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [chk_estatus]
GO
USE [master]
GO
